
// colors 
$c-bg: #aec8c9;
$c-resume: #46696b;
$c-black: #000000;
$c-white: #f4f6f5;
$c-box: #204244;
$c-heading: #feffff;
$c-text: #394948;

// ? fonts
// Font Family
$ff-main: 'Montserrat', sans-serif;

// Font Size
$fs-main-heading: 56px;
$fs-main-heading-mobile: 46px;
$fs-main-little-heading: 38px;
$fs-main-very-little-heading: 32px;
$fs-heading: 26px;
$fs-little-heading: 18px;
$fs-main: 16px;
$fs-text: 14px;